<div style="margin: 10px; padding: 50px; background-color: lightsalmon">


  <h1 style="text-align:center"t>App Component</h1>


  <!-- <input type="text" [value] = "_______" (keypress) = _________________"> -->

  <app-customers (evtCustomer) = "evtcustomerDetails($event)" >


    

  </app-customers>

  <app-customers-details  [captureTitleFromApp] = "value"   [customerInfo] = customersInformation></app-customers-details>
  <!-- <input                 [value]=       =  "___________"      >  -->


</div>
