<div style="margin: 10px; padding: 50px; background-color: lightsalmon">


  <h1 style="text-align:center"t>App Component</h1>


  <!-- <input type="text" [value] = "_______" (keypress) = _________________"> -->

  <app-customers    [customerInputtingInfo] = "customer" (evtCustomer) = "evtcustomerDetails($event)" >

    <!-- <input type="text" /> -->

    <div class="form-group" style="margin: 10px">
      <input
        class="form-control col-md-7"
        placeholder="EmailID"
        type="text"
        #txtEmailID
      />
    </div>


  </app-customers>


  <button class="btn btn-success" (click)="evtChanged()">Click</button>



  <!-- <button           (click)="evtclick()"></button> -->


  <app-customers-details (customerRowEmitter)="evtCustomerRowCaptureDetails($event)"  [captureTitleFromApp] = "value"   [customerInfo] = customersInformation>


    <p #paragraph>Iam the paragraph</p>


  </app-customers-details>
  <!-- <input                 [value]=       =  "___________"      >  -->




  <!-- <p style="" -->

  <p [color]="'green'" [colorout]="'white'"  appColorDir> I am the paragrapth</p>



  <span [color]="'purple'" [colorout]="'yellow'"  appColorDir> I am span tag</span>


  <!-- <input type="text" appColorDir> -->






</div>
